*{
    background-color: rgb(0, 238, 8);
    margin: 0px auto;
}
h1 {
    background-color: blueviolet;
    width: 314px;
    #special{
        text-align: center ;
    }
}

#memecat{
    margin-left: 225px;
    
}

#borderStyle {
    border: 15px dotted rgb(23, 5, 221);
    width: 1000px;
    
  }
  div {
    border: 1px solid #000000;
    
  }
  p {
    border-right: 1px groove rgb(100,100,100);
    border-left: 1px groove rgb(200,200,200);
  }
  #headingOne{
    font-family: fantasy;
    color: crimson;    
    padding: 25px;
    border-radius: 5px;
}

#headingTwo{
    font-weight: bolder;
}

  #autoText{
     outline-style: dashed ;
     outline-color: black 10px;
     display: inline-block;
  }

  .not-as-special{
      text-decoration: underline;
  }